body {
    min-width: 360px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

#key_entered, #understand_content, #respond_content, #respond_loading {
    display: none;
}

.text-gradient {
    background: linear-gradient(45deg, #695EE6, #FF7A7A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom {
    width: 100%;
    border-top: 1px solid #D3D3D3;
}

.page-content {
    flex: 1 0 auto;
}

.checking {
    text-align:left;
    padding:0 15 25 15px;
}
